@font-face {
  font-weight: 400;
  font-family: "SF Pro Displey";
  src: url("/public/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-weight: 700;
  font-family: "SF Pro Displey";
  src: url("/public/fonts/SF-Pro-Display-Bold.otf");
}

body {
  margin: 0;
  padding: 0;

  background-color: #191919;
  color: #d4d4d4;
}

.App {
  margin: 0 auto;
  padding: 200px 0;

  width: 75%;
  max-width: 700px;

  font-family: "SF Pro Displey", sans-serif;
}

.App-title {
  position: relative;

  font-size: 40px;
  font-weight: bold;
}

.App-title::before {
  position: absolute;
  top: -95px;

  width: 80px;
  height: 80px;

  background: url("/public/img/emoji.png") no-repeat center / cover;

  content: " ";
}

.App-users {
  display: flex;
}